@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,700&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

/* Variables */
:root {
  /* Colors */
  --dark-text: hsl(229, 25%, 31%);
  --gr-dark: hsl(237, 49%, 15%);
  --gr-light: hsl(214, 47%, 23%);
  --neutral-grey: hsl(217, 16%, 45%);
  --score-text: hsl(229, 64%, 46%);
  --white: hsl(0, 0%, 100%);
  --scissors-gr-light: hsl(40, 84%, 53%);
  --scissors-gr-dark: hsl(39, 89%, 49%);
  --scissors-gr: linear-gradient(
    var(--scissors-gr-light),
    var(--scissors-gr-dark)
  );
  --paper-gr-dark: hsl(230, 89%, 62%);
  --paper-gr-light: hsl(230, 89%, 65%);
  --paper-gr: linear-gradient(var(--paper-gr-light), var(--paper-gr-dark));
  --rock-gr-dark: hsl(349, 71%, 52%);
  --rock-gr-light: hsl(349, 70%, 56%);
  --rock-gr: linear-gradient(var(--rock-gr-light), var(--rock-gr-dark));

  /* Sized */
  --border-radius: min(10px, 2vw);
  --header-card-size-height: min(17vw, 120px);
  --header-card-size-width: min(20vw, 150px);
}

/* General Styles */

body {
  /* Center content vertically and horizontally */
  display: grid;
  grid-template-rows: 0.35fr 1fr 0.1fr;
  flex-direction: column;
  place-items: center;
  min-height: 100%;
  padding: 24px;
  overflow: hidden;
  /* Set font family and background color */

  background-color: var(--gr-dark);
  background-image: radial-gradient(
    circle at top center,
    var(--gr-light),
    var(--gr-dark)
  );
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* Header */
.header {
  border-radius: var(--border-radius);
  border: 3px solid var(--neutral-grey);
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 24px;
  padding: 15px;
  width: min(70%, 700px);
  gap: 20%;
}

.header__score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  height: auto;
  height: var(--header-card-size-height);
  overflow: hidden;
  text-align: center;
  width: var(--header-card-size-width);
}

.header__score-text {
  color: var(--score-text);
  font-weight: 600;
  font-size: clamp(0.5rem, 3vw, 1rem);
  letter-spacing: min(0.5vw, 2px);
}

.header__score {
  font-size: clamp(0.5rem, 9vw, 4rem);
  color: var(--neutral-grey);
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header img {
  max-width: 100%;
}

/* Main */

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(70vw, 650px);
  height: min(50vw, 400px);
  padding: 10px;
}
.game__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  align-content: center;

  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  list-style-type: none;
}

.game__options {
  height: 100%;
  width: 100%;
}
.game__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.game__li-rock {
  grid-column: 1 / span2;
  grid-row: 2;
  width: 50%;
}
.game__btn {
  border: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: clamp(70px, 20vw, 200px);
  height: clamp(70px, 20vw, 200px);
}

.game__btn-paper {
  background-image: var(--paper-gr);
}
.game__btn-paper:hover {
  background: var(--paper-gr-dark);
}
.game__btn-scissors {
  background-image: var(--scissors-gr);
}
.game__btn-scissors:hover {
  background: var(--scissors-gr-dark);
}

.game__btn-rock {
  background-image: var(--rock-gr);
}
.game__btn-rock:hover {
  background: var(--rock-gr-dark);
}
.game__image-container {
  top: 0;
  box-shadow: inset 0 min(1vw, 7px) 0 #ddd;
}
/* Button edge */
.game__btn::after {
  transform: translateZ(-1px);
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: inherit;
}
.game__btn-paper::after {
  box-shadow: 0 min(1vw, 7px) 0 hsl(230, 66%, 45%);
}
.game__btn-scissors::after {
  box-shadow: 0 min(1vw, 7px) 0 hsl(34, 97%, 38%);
}
.game__btn-rock::after {
  box-shadow: 0 min(1vw, 7px) 0 hsl(349, 75%, 40%);
}


.game__image-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  background-color: var(--white);
}

.game__image {
  height: auto;
  width: 50%;
}

/* Button click effects */
.game__btn.clicked {
  transform: translateY(10px); /* Move button down when clicked */
  transition: transform 0.2s ease;
}

.game__btn.clicked::after {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Footer */
@media screen and (min-width: 640px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.footer__rules-btn {
  background-color: transparent;
  border-radius: min(10px, 2vw);
  border: 2px solid var(--neutral-grey);
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  font-size: 1.25rem;
  font: inherit;
  margin-right: 2;
  padding: 10px 36px;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  letter-spacing: 2px;
}
.footer__rules-btn:is(:hover, :focus) {
  transform: scale(1.2);
  transition: transform 0.5s ease-out;
}

/* Modal Rules */
.modal[aria-hidden="true"] {
  display: none;
}

.modal[aria-hidden="false"] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: hsla(0, 0%, 0%, 0.4);
  z-index: 2;
}

.modal__container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
  border-radius: var(--border-radius);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: min(5vw, 32px);
}

.modal__icon {
  height: 7%;
  width: 7%;
}

.modal__text {
  font-size: min(7vw, 32px);
  color: var(--gr-light);
}

.modal__image {
  max-height: min(100%, 70vw);
}
